<appSettings>
  <add key="MailServer" value="mail.demosite.com"/>
  <add key="FacebookAppId" value="appid"/>
  <add key="FacebookAppSecret" value="appsecret"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>