@model List<RentAMovie.Models.Movie>
@{ 
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Add Movie", "New", "Movies", null, new { @class = "btn btn-primary" })</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="1">Movie</th>
            <th colspan="1">Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/custom/movies.js")
}